/* Indent with grey stripes */
div.doc-contents:not(.first) {
    padding-left: 25px;
    border-left: 4px solid rgb(230, 230, 230);
    margin-bottom: 80px;
}


/* Dont break parameter names */
td code {
    word-break: normal !important;
}

/* Less space around parameters */
td p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Make return table stretch */
.md-typeset__table {
    width: 100%;
}

.md-typeset__table > table {
    display: table !important;
}


/* Scrollbar */
* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 5px
}

*::-webkit-scrollbar-track {
    background: #ddd
}


*::-webkit-scrollbar-thumb {
    background: #666
}
