/* Indent with grey stripes */
div.doc-contents:not(.first) {
    padding-left: 25px;
    border-left: 4px solid rgb(230, 230, 230);
    margin-bottom: 80px;
}


/* Dont break parameter names */
td code {
    word-break: normal !important;
}

/* Less space around parameters */
td p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Make return table stretch */
.md-typeset__table {
    width: 100%;
}

.md-typeset__table > table {
    display: table !important;
}


/*Theme***************************************************************************************************************/
:root {
    /* Link and nav color */
    --md-primary-fg-color: hsla(146, 73%, 42%, 1);
    --md-primary-fg-color--light: hsl(146, 42%, 64%);
    --md-primary-fg-color--dark: hsl(148, 54%, 41%);

    /* Hover link and hover side nav */
    --md-accent-fg-color: hsla(142, 99%, 60%, 1);

    /* Heading color */
    --md-code-fg-color: hsla(140, 18%, 24%, 1);

    --md-accent-fg-color--transparent: hsla(146, 73%, 42%, .07);
}
